body{
    background-color: rgb(255, 208, 175);
    margin: 0;
    padding: 0;
}

.header{
    background-color: black;
    height: 5vh;
    width: 100vw;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.menu a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4dvh;
    color: rgb(255, 183, 90);
}

.menuHamb{
    display: none;
}

/*media query*/
/*estilização até 800px*/

@media screen and (max-width: 800px) {
    .menu{
        display: flex;
        flex-direction: column;
        width: 25vw;
        position: absolute;
        right: 0;
        top: 5vh;
        background-color: black;
        visibility: hidden;

    }
    .menuHamb{
        display: flex;  
        height: 5vh;
        width: 100%;
    }
    
    .nav{
        width: 15vw;
    }

    .header{
        display: flex;
        justify-content: end;
    }

    .nav:hover .menu{
        visibility: visible;
    }
}